.App {
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-color: rgba(47, 47, 47, 0.445); */
}

.navItem{
  position: relative;
}

.navItem::after{
  transition: all .2s;
  color:rgb(223, 223, 223)
}

.navItem::after {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 5px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  margin-top: 10px;
  transition: width .2s;
}

.navItem:hover::after {
  width: 100%;
}

.article{
  transition: transform .2s;
}

.article:hover{
  transform: scale(1.02);
}